body {
  margin: 0;
  padding: 0;
  box-shadow: none;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: url('./quermese_page-0001.jpg') no-repeat  center;
  background-position: center;
  background-size: 100% 98%;
}