body {
  margin: 0;
  padding: 0;
  background-color: #F2D5CB;
}

.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 98vh;
    background: url('./quermese_page-0001.jpg') no-repeat scroll center;
    background-position: center;
    background-size: 95% 95%;
}